section.contact 
   .contact__container
      .contact__contact-info
         h2.contact__title ЖДЁМ ВАС НА ТРЕНИРОВКЕ
         p.contact__phone +7(913) 436-00-07
         p.contact__address г. Новокузнецк, Климасенко 19
         p.contact__working-hours Пн-Сб с 9:00 до 23:00
         p.contact__email info@kuznyafight.ru
         .contact__social-links
         // Иконки социальных сетей
         .contact__cta
            a.contact__cta-button(href="#free-class") Бесплатное занятие
         .contact__bottom-info
      .contact__map-background
         .contact__map