footer.footer-privacy
   .footer-privacy__container
      a.footer__privacy-policy(href="privacy.html" target="_blank") Политика конфиденциальности
      a.footer__credits(href="https://webperspective.ru/" target="_blank") Сделано в WebPerspective
