header.header
   .header__container
      .header__logo
         a.header__logo-link(href="/")
            img.header__logo-img(src=require("../../images/icons/logo-header.png"), alt="Кузня")
      
      a.header__burger
         span.burger-icon 
      nav.header__nav
         a.header__close 
         ul.header__nav-list
            li.header__nav-item
               a.header__nav-link(href="#") Секции
            li.header__nav-item
               a.header__nav-link(href="#") О клубе
            li.header__nav-item
               a.header__nav-link(href="#") Преимущества
            li.header__nav-item
               a.header__nav-link(href="#") Расписание
            li.header__nav-item
               a.header__nav-link(href="#") Стоимость
            li.header__nav-item
               a.header__nav-link(href="#") Контакты

      .header__contact
         .header__phone 8-913-436-00-07
         a.header__contact-button(href="path_to_whatsapp") Написать в вотсап
