section.schedule
   .schedule__container
      h2.schedule__title РАСПИСАНИЕ
      table.schedule__table
         thead.schedule__header
            tr.schedule__header-row
               th.schedule__header-cell Направления
               th.schedule__header-cell ПН
               th.schedule__header-cell ВТ
               th.schedule__header-cell СР
               th.schedule__header-cell ЧТ
               th.schedule__header-cell ПТ
               th.schedule__header-cell СБ
               th.schedule__header-cell ВС
         tbody.schedule__body
            tr.schedule__row
               td.schedule__cell Персональные тренировки
               td.schedule__cell(colspan="6") 
                  | для детей и взрослых по предварительной записи
            tr.schedule__row
               td.schedule__cell.schedule__name Младшая группа 4-6 лет
               td.schedule__cell--empty —
               td.schedule__cell 18:00 - 19:00
               td.schedule__cell--empty —
               td.schedule__cell 18:00 - 19:00
               td.schedule__cell--empty —
               td.schedule__cell 18:00 - 19:00
               td.schedule__cell--empty —
            tr.schedule__row
               td.schedule__cell.schedule__name Средняя группа 7-12 лет
               td.schedule__cell 16:30 - 18:00 
                  br 
                  | 18:00 - 19:30
               td.schedule__cell--empty —
               td.schedule__cell 16:30 - 18:00 
                  br 
                  | 18:00 - 19:30
               td.schedule__cell--empty —
               td.schedule__cell 16:30 - 18:00 
                  br 
                  | 18:00 - 19:30
               td.schedule__cell--empty —
               td.schedule__cell--empty —
            tr.schedule__row
               td.schedule__cell.schedule__name Старшая группа с 14 лет
               td.schedule__cell 19:30 - 21:00
               td.schedule__cell--empty —
               td.schedule__cell 19:30 - 21:00
               td.schedule__cell--empty —
               td.schedule__cell 19:30 - 21:00
               td.schedule__cell--empty —
               td.schedule__cell--empty —
            tr.schedule__row
               td.schedule__cell.schedule__name Спортивная группа с 14 лет
               td.schedule__cell--empty —
               td.schedule__cell 19:00 - 20:00 
               td.schedule__cell--empty —
               td.schedule__cell 19:00 - 20:00
               td.schedule__cell--empty —
               td.schedule__cell 19:00 - 20:00
               td.schedule__cell--empty —
            tr.schedule__row
               td.schedule__cell.schedule__name Фитнес
               td.schedule__cell--empty —
               td.schedule__cell 20:00 - 21:00
               td.schedule__cell--empty —
               td.schedule__cell 20:00 - 21:00
               td.schedule__cell--empty —
               td.schedule__cell 20:00 - 21:00
               td.schedule__cell--empty —

