doctype html
html(lang="ru")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Бойцовский клуб КУЗНЯ
      //- link(rel="shortcut icon" type="image/x-icon" href=require("../../images/icons/favicon.svg"))
   body 
      include ../sections/header
      include ../sections/footer
      .cursor-dot-outline 
      .cursor-dot