body {
   width: 100vw;
   position: relative;
   background-color: $white;
   color: $black;
   font-size: 20px;
   font-family: "Ubuntu", sans-serif;
   font-weight: 400;
   line-height: 126%;
   overflow-x: hidden;
   letter-spacing: normal;
}

section {
   width: 100vw;
}

@media (max-width: 1440px) {
   body {
      font-size: 18px;
   }
}

@media (max-width: 1240px) {
   body {
      font-size: 16px;
      cursor: pointer;
   }
}

@media (max-width: 425px) {
   body {
      font-size: 14px;
      cursor: pointer;
   }
}

h2 {
   font-size: 46px;
   font-weight: 400;
   line-height: 130%;
   font-family: "Capture it";
   letter-spacing: 0.1em;
}

@media (max-width: 1240px) {
   h2 {
      font-size: 34px;
   }
}

@media (max-width: 1040px) {
   h2 {
      font-size: 30px;
   }
}

@media (max-width: 768px) {
   h2 {
      font-size: 26px;
   }
}

@media (max-width: 425px) {
   h2 {
      font-size: 24px;
   }
}

@media (max-width: 490px) {
   h2 {
      font-size: 20px;
   }
}

.header,
.promo,
.services,
.advantages,
.schedule,
.pricing,
.contact-form {
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header__container,
.promo__container,
.services__container,
.about__container,
.advantages__container,
.schedule__container,
.pricing__container,
.contact-form__container  {
   width: 100vw;
   padding: 10px 160px;
   display: flex;
   align-items: flex-start;
}


.promo__container,
.services__container,
.about__container,
.schedule__container,
.pricing__container{
   gap: 50px;
}

.promo__title {
   font-size: 62px;
   color: $white;
   width: 700px;
   line-height: 122%;
   font-weight: 700;
   letter-spacing: 1.4px;
   span {
      font-family: "Capture it";
      font-style: normal;
      font-weight: 400;
      line-height: 76px;
      letter-spacing: 1.86px;
   }
}
