@import "vars";
@import "reset";
@import "fonts";
@import "global";

.header {
   &__container {
      justify-content: space-between;
      align-items: center;
      position: relative;
   }
   &__nav {
      width: 60%;
      &-list {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &-link {
         position: relative;
         color: $black;
         transition: color 0.3s ease-in-out;
      }
      &-link:hover {
         color: $green-active;
      }
   }
   &__burger {
      position: relative;
      right: 0px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/burger-menu.svg");
      background-repeat: no-repeat;
      height: 47px;
      width: 40px;
      display: none;
   }
   &__close {
      position: absolute;
      top: 40px;
      right: 50px;
      z-index: 2000;
      cursor: pointer;
      background-image: url("../images/icons/burger-close.svg");
      background-repeat: no-repeat;
      height: 52px;
      width: 59px;
      display: none;
   }
   &__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7px;
      &-button {
         color: $black;
         font-size: 20px;
         font-weight: 600;
         display: flex;
         align-items: flex-start;
      }
      &-button::before {
         content: "";
         background-image: url("../images/icons/whatsap-header.svg");
         height: 26px;
         width: 26px;
         display: inline-block;
         position: relative;
         margin-right: 4px;
         background-size: contain;
      }
      &-phone {
         color: $black;
         font-size: 28px;
         font-weight: 700;
      }
      &-phone:hover,
      &-button:hover {
         color: $green-active;
         transition: color 0.3s ease-in-out;
         cursor: pointer;
      }
   }
}

.dim-background {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(10, 10, 10, 0.5);
   z-index: 1999;
}

.promo {
   position: relative;
   &__background {
      background-image: url("../images/bg/promo-bg.png");
      background-size: cover;
      background-position: center;
      width: 100vw;
      height: 720px;
      position: absolute;
      z-index: -1;
   }
   &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   &__container-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 2;
      height: 720px;
      gap: 50px;
   }
   &__features {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 50px;
      position: relative;
      top: -120px;
   }
   &__feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 380px;
      background-color: $white;
      height: auto;
      border-radius: 10px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
      padding: 30px 20px;
      &-title {
         font-weight: 500;
         font-size: 22px;
      }
      &-inner {
         display: flex;
         gap: 10px;
      }
   }
}

.promo__cta-button {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%;
   color: $white;
   width: 270px;
   height: 70px;
   text-transform: uppercase;
   text-decoration: none;
   cursor: pointer;
   span {
      z-index: 2;
   }
}
.cta-svg {
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   fill: $green;
}

.cta-svg:hover {
   fill: $green-active;
}

.promo__cta-button span:hover .cta-svg {
   fill: $green-active;
}

.services {
   margin: 100px auto 50px;
   &__container {
      flex-direction: column;
      gap: 60px;
   }
   &__inner {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 20px;
   }
   &__description {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 680px;
   }
   &__item {
      font-size: 28px;
      padding: 30px 0;
      width: 100%;
   }
   &__schedule {
      border: 2px solid $black;
      border-radius: 10px;
      padding: 13px 32px;
      display: flex;
      align-items: center;
      color: $black;
      font-size: 16px;
      font-weight: 500;
   }
   &__schedule::before {
      content: "";
      background-image: url("../images/icons/calendar.svg");
      height: 22px;
      width: 22px;
      display: inline-block;
      position: relative;
      margin-right: 13px;
      background-size: contain;
   }
   &__schedule:hover {
      color: $green;
      border: 2px solid $green;
      transition: 0.3s ease-in-out;
   }
   &__schedule:hover::before {
      background-image: url("../images/icons/calendar-hover.svg");
      transition: 0.3s ease-in-out;
   }
   &__item {
      position: relative;
      &-title {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &-title::after {
         content: "";
         background-image: url("../images/icons/services-arrow.svg");
         width: 35px;
         height: 24px;
         display: inline-block;
         background-size: contain;
         background-repeat: no-repeat;
      }
      &-img {
         position: absolute;
         border-radius: 14px;
         top: 30px;
         left: 50%;
         transform: translate(-50%, -50%) rotate(-8deg) scale(0.25);
         z-index: 6;
         opacity: 0;
         width: 50px;
         height: 50px;
         transition:
            opacity 0.3s ease-in-out,
            transform 0.3s ease-in-out,
            width 0.3s ease-in-out,
            height 0.3s ease-in-out;
      }
      &:hover .services__item-img {
         opacity: 1;
         width: 220px;
         height: 220px;
         transform: rotate(-8deg) translateX(10vw) translateY(-100px);
      }
   }
}

.services__list {
   position: relative;
   padding: 0;
   list-style: none;
   width: 100%;

   li.services__item {
      position: relative;
      border-top: 3px solid $black;
      border-bottom: 3px solid $black;
      margin-top: -3px;
      width: 100%;
      z-index: 1;
      transition: 0.3s ease-in-out;
   }
   li.services__item:hover {
      position: relative;
      border-top: 3px solid $green;
      border-bottom: 3px solid $green;
      background-color: $green;
      color: $white;
      z-index: 2;
      h3 {
         transition: padding-left 0.3s ease-in-out;
         padding-left: 100px;
      }
      h3.services__item-title::after {
         content: "";
         background-image: url("../images/icons/services-arrow-white.svg");
         transform: rotate(180deg);
         display: inline-block;
         transition: 0.3s ease-in-out;
      }
   }
}

.about {
   position: relative;
   display: flex;
   align-items: center;
   flex-direction: row-reverse;
   margin: 75px 0 75px;
   width: 100vw;
   overflow: hidden;
   &__background {
      background-image: url("../images/bg/about-bg.png");
      background-size: cover;
      background-position: center;
      width: 100vw;
      height: 760px;
      position: absolute;
      overflow-x: hidden;
      z-index: -1;
   }
   &-contant {
      display: flex;
      width: 100%;
      height: 100%;
   }
   &__container {
      flex-direction: column;
      justify-content: center;
      height: 760px;
      &-inner {
         width: 630px;
         display: flex;
         flex-direction: column;
         gap: 10px;
         color: $white;
         font-weight: 200;
      }
   }
   &__title {
      color: $green;
      &-span {
         color: $white;
      }
   }
   &__image {
      right: -5%;
      height: 100%;
      transform: rotate(-6deg);
      border-radius: 30px;
      height: 600px;
      position: absolute;
   }
}

.advantages {
   margin: 150px auto 75px;
   &__container {
      display: flex;
      align-items: center;
   }
   &__grid {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 50px;
   }
   &__item {
      position: relative;
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
   }
   &__item:nth-child(2),
   &__item:nth-child(5) {
      top: -80px;
   }
   &__title {
      width: 250px;
      text-align: center;
   }
}

.schedule {
   margin: 150px auto 75px;
   overflow-x: hidden;
   &__container {
      flex-direction: column;
   }
   &__table {
      width: 100%;
   }
   &__header {
      &-row {
         background-color: $black;
         color: $white;
         border-radius: 10px;
         padding: 20px 30px;
      }
      &-cell {
         text-align: left;
         padding: 20px 30px;
         text-transform: uppercase;
      }
      &-cell:first-child {
         border-radius: 12px 0px 0px 12px;
      }
      &-cell:last-child {
         border-radius: 0px 12px 12px 0px;
      }
   }
   &__row:nth-child(even) {
      background-color: #f5f5f5;
   }
   &__cell,
   &__cell--empty {
      padding: 20px 30px;
   }
   &__name {
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: underline;
   }
   &__accordion {
      width: 100%;
      display: none;
      flex-direction: column;
      gap: 20px;
   }
}

.accordion {
   &__item {
      width: 100%;
      // overflow: hidden;
   }
   &__title {
      position: relative;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: $black;
      color: $white;
      padding: 20px 30px;
      border-radius: 12px;
      cursor: pointer;
      &.active::after {
         transform: rotate(180deg);
      }
   }
   &__title::after {
      content: "";
      background-image: url("../images/icons/schedule-arrow.svg");
      display: inline-block;
      width: 19px;
      height: 11px;
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform 0.3s ease;
      transform: rotate(var(--rotate, 0deg));
   }
   &__title:hover {
      background-color: darken($black, 5%);
   }
   &__content {
      margin-top: 6px;
      flex-direction: column;
      gap: 20px;
      overflow: hidden;
      padding: 20px;
      background-color: #f5f5f5;
   }
   &__day {
      &-name {
         display: flex;
         align-items: center;
         font-weight: 400;
         background-color: $white;
      }
      &-times {
         background-color: #f5f5f5;
         font-weight: 600;
         margin-right: 30px;
         padding: 6px;
      }
   }
}
.accordion__content.active {
   display: block; // Показать содержимое
}

.pricing {
   margin: 150px auto 75px;
   &__container {
      flex-direction: column;
   }
   &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 60px;
   }
   &__inner {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }
   &__card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 30%;
      border-radius: 10px;
      box-shadow: 0px 0px 6px 2px rgba(29, 31, 33, 0.1);
      background-color: $white;
      padding: 40px 60px 50px;
      &-title {
         display: flex;
         align-items: center;
         font-size: 32px;
         font-family: "Capture it";
         letter-spacing: 0.1em;
         font-weight: 400;
      }
      &-price {
         font-size: 36px;
         font-family: "Capture it";
         letter-spacing: 0.1em;
         font-weight: 400;
      }
      &-description {
         width: 240px;
      }
      &-infinity {
         display: inline-block;
         position: relative;
         transform: rotate(90deg);
         font-size: 40px;
         vertical-align: middle;
         padding-left: 4px;
      }
      &-info {
         margin-top: 20px;
         text-transform: uppercase;
         font-weight: 500;
      }
   }
   &__card:nth-child(1) {
      background-color: #ff3c3d;
      .pricing__card-title,
      .pricing__card-description,
      .pricing__card-price {
         color: $white;
      }
   }
}

.pricing__card:nth-child(2) .pricing__card-info,
.pricing__card:nth-child(3) .pricing__card-info {
   color: $green-active;
}

.pricing__card:nth-child(n + 4) .pricing__card-info {
   color: $red;
}

.contact-form {
   position: relative;
   display: flex;
   flex-direction: row;
   margin: 150px auto 75px;
   &__background {
      background-image: url("../images/bg/about-bg.png");
      background-size: cover;
      background-position: center;
      width: 100vw;
      height: 800px;
      position: absolute;
      overflow-x: hidden;
      z-index: -1;
   }
   &__image {
      left: -4%;
      transform: rotate(6deg);
      border-radius: 30px;
      height: auto;
      position: relative;
      z-index: 1;
      width: 40%;
   }
   &__container {
      flex-direction: column;
   }
   &__content {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 50px;
   }
   &__form {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: auto;
   }
   &__title {
      color: $white;
      &-span {
         color: $green;
      }
   }
   &__subtitle {
      color: $white;
      max-width: 510px;
      letter-spacing: 0.06em;
   }
   &__submit {
      background-color: transparent;
      border: none;
   }
   &__input,
   &__textarea {
      background: none;
      padding: 10px;
      border: none;
      border-bottom: 2px solid transparent;
      width: 100%;
      color: $white;
      &:focus {
         outline: none; // Убрать стандартное подчеркивание при фокусе, если есть
      }
   }
   &__input-group {
      position: relative;
      width: 200%;
      margin-bottom: 20px;
   }
   &__input-group::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0; // Подчеркивание расположено внизу элемента
      height: 2px;
      background-color: #f5f5f570; // Цвет подчеркивания
      transform: scaleX(1);
   }
   &__textarea {
      max-width: 100%;
      min-width: 100%;
      max-height: 100px;
      min-height: 80px;
   }
   &__checkbox-label {
      color: #f5f5f5b4;
      font-weight: 200;
      padding-left: 35px;
      width: 100%;
      position: relative;
      width: 100%;
      cursor: pointer;
      .privacy span {
         position: relative;
         color: #f5f5f5b4;
         margin-left: 35px;
      }
      .privacy span::after {
         content: "";
         height: 1px;
         background: #f5f5f5b4;
         width: 100%;
         position: absolute;
         display: block;
         margin-left: 35px;
      }
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         width: 25px;
         height: 25px;
         border: 1px solid #fff;
         background-color: transparent;
      }
   }
   &__submit-container {
      display: flex;
      justify-content: space-between;
      width: 210%;
      flex-wrap: wrap;
      gap: 16px;
      margin-top: 30px;
   }
   &__checkbox {
      opacity: 0;
      position: absolute;
      z-index: -1;
      &:checked + .contact-form__checkbox-label::after {
         content: "✔";
         position: absolute;
         left: 5px;
         top: 0px;
         color: $green;
         font-size: 26px;
      }
   }

   .contact-form__input:invalid,
   .contact-form__textarea:invalid {
      &::after {
         background-color: #ff0000;
      }
   }
}

.faq {
   margin: 150px auto 75px;
   &__container {
      flex-direction: column;
      gap: 50px;
   }
   &__grid {
      display: flex;
      flex-direction: column;
      width: 100%;
   }
   &__question {
      background-color: transparent;
      border: none;
      text-align: left;
      line-height: 130%;
      font-size: 26px;
      padding: 30px 0;
      color: $black;
      cursor: pointer;
      span {
         width: 90%;
         color: $black;
      }
   }
   &__question.active {
      color: $green;
   }
   &__item {
      width: 100%;
      position: relative;
      .faq__question {
         width: 100%;
         font-weight: 500;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      .faq__question.active::after {
         content: "˗˗";
      }
      .faq__question::after {
         content: "+";
         display: flex;
         width: 35px;
         height: 35px;
         background-size: cover;
         background-repeat: no-repeat;
         align-items: center;
         justify-content: center;
      }
   }
}

.faq__answer {
   width: 80%;
   font-weight: 400;
   line-height: 140%;
   max-height: 0;
   overflow: hidden;
   transition:
      max-height 0.5s ease-in-out,
      padding 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
   opacity: 0;
   padding-bottom: 0;
}

.faq__answer.open {
   max-height: 1000px;
   opacity: 1;
   padding-bottom: 30px;
}

.faq__grid {
   position: relative;
   padding: 0;
   list-style: none;
   width: 100%;

   .faq__item {
      position: relative;
      border-top: 2px solid $black;
      border-bottom: 2px solid $black;
      margin-top: -2px;
      width: 100%;
      z-index: 1;
      transition: 0.3s ease-in-out;
   }
   .faq__item:hover {
      .faq__question {
         color: $green;
         transition: 0.3s ease-in-out;
      }
   }
}

.footer{

}








@import "mobile";
